archive
node_modules
nbproject
.idea/
.jscsrc
.jshintrc
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
gulpfile.js
/nbproject/private/
/src/log.txt
/xp/*.RData
/xp/.Rhistory

xp/.RData
xp/.Rhistory
*.RData
*.Rhistory
xp/.RData
*.Rhistory
build/sorcerer/.vs/config/applicationhost.config
build/sorcerer/.vs/sorcerer/v15/.suo